.css-n8we1v-MuiDataGrid-root .MuiDataGrid-columnHeader--filledGroup .MuiDataGrid-columnHeaderTitleContainer{
    border-bottom: 0px ;
}

.anual-header{
    border-bottom: solid 2px white;
}
.first-header{
    border-bottom: solid 2px white;
}
.second-header{
    border-bottom: solid 2px white;
}
.third-header{
    border-bottom: solid 2px white;
}
.four-header{
    border-bottom: solid 2px white;
}

 .css-lvnl5m-MuiInputBase-root-MuiInput-root:before{
    border-bottom: 0px !important;
}

.css-lvnl5m-MuiInputBase-root-MuiInput-root:after{
    border-bottom: 0px !important;
}