.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}
.fileInput::-webkit-file-upload-button {
  cursor: pointer;
}

.fileInput {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.none {
  display: none;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 25vh;
  left: 5%;
  width: 90%;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

.cross {
  cursor: pointer;
  width: 3.5%;
  margin-left: auto;
  margin-right: 0.5rem;
}

.flexModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.dragText {
  font-weight: 700;
}

.download {
  font-weight: 500;
}

@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.drag {
  position: relative;
  height: 110px;
  border: 2px dashed #0092dd;
  border-radius: 0.5rem;
  margin-left: 10px;
  margin-right: 10px;
  width: 80%;
  cursor: pointer;
}

.drag:hover {
  border: 2px dashed #6dbce4;
}

.fileImg {
  text-align: center;
  margin-top: -16%;
}

.modalButton {
  display: inline-block;
  background-color: #0092dd;
  color: white;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  border: #0092dd;
  cursor: pointer;
}

.buttonWhite {
  display: flex;
  flex-direction: flex-row;
  justify-content: center;
  color: #0092dd;
  font-weight: 500;
  background-color: white;
  width: fit-content;
  padding: 0.5rem 1.5rem;
  border: #0092dd solid 3px;
  border-radius: 0.5rem;
  cursor: pointer;
}
