.greenBox-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #dfe9da;
    border-radius: 10px;
    padding: 8px;
    width: 600px;
    }
    
    .greenBox-container-texts{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        height: 250px;
    }
    
    .greenBox-container-graphs{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .subtitle{
        font-size: 18px;
        margin: 3px;
        color: #70ad47;
    }
    
    .text{
        font-size: 16px;
        margin: 2px;
        text-align: justify;
    }
    
    .greenBox-ingresos{
        background-color: #70ad47;
        color: white;
        border-radius: 3px;
        padding: 2px 5px;
    }
    
    .greenBox-egresos{
        background-color: #ea6d4f;
        color: white;
        border-radius: 3px;
        padding: 2px 5px;
    }
    
    .greenBox-saldo{
        background-color: #333333;
        color: white;
        border-radius: 3px;
        padding: 2px 5px;
    }
    
    .budgetPeople-graph{
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }